<div class="center-both" id="menu-toggle">
	<span>{{mobileIcon.name}} </span>
	<i id="nav-down" class="fa fa-angle-double-down fa-lg"></i>
	<i id="nav-up" class="fa fa-angle-double-up fa-lg"></i>
</div>
<div class="menu-items-wrapper">
	<a class="menu-item" ng-repeat="item in navlinks" ng-href="#/{{item.link}}">{{item.name}}</a>
	<a class="menu-item" ng-href="#/cart" id="nav-shopping-cart">
		<span>Cart <i class="fa fa-shopping-cart"></i></span>
	</a>
	<a class="menu-item" ng-click="toggle=!toggle" ng-href="#" id="nav-sign-in">
		<span ng-hide="toggle"> Sign In <i class="fa fa-sign-in"></i></span>
		<span ng-show="toggle"> Sign Out <i class="fa fa-sign-out"></i></span>
	</a>
</div>