<label for="name">Your name?</label>
<input type="text" id="name" name="name" ng-init="payersName=initName" ng-model="payersName" placeholder="{{initName}}" autocomplete="name" autofocus ng-required ng-maxlenght="80" title="name and surname separated by space">

<label for="email">Your email?</label>
<input type="email" id="email" name="email" placeholder="example@example.com" autocomplete="email" ng-required ng-maxlenght="120" title="avoid entering spaces">
<label for="phone">Your phone number?</label>
<input type="tel" name="phone" id="phone">

<label for="content">Want to tell us more about your gig?</label>
<textarea form="book_us" name="content" id="content" cols="30" rows="7" placeholder="add your comment" ng-model="content" ng-required></textarea>
<label for="offer">Make us an offer</label>
<input id="offer" type="range" min="0" max="1000000" ng-change="setHonorarium()" ng-model="rangeBase">
<label for="honorarium">Honorarium</label>
Honorarium: {{rangeBase}} $
<input type="number" ng-change="setHonorarium()" ng-model="rangeBase">