<h1 class="h2 c-text content-heading">{{title}}</h1>
<section class="tabs">
<!-- TAB 1 -->
	<input id="tab-one" type="radio" name="grp" checked="checked" />
	<label class="tab-header" for="tab-one">{{formHeaders[0]}}</label>
	<div class="tab-panel">
		<p class="warning">{{introWarning}}</p>

	<!-- BUY TICKET FORM -->
		<form name="buyTicketForm" ng-submit="submitGuests(buyTicket)">
			<div class="input-wrapper-inline form-layout" my-directive template-path="templates/directives/gigs-directives/buy-ticket-form.html"></div>
			<br>

	<!-- BUY TICKET FORM SUBMIT AREA -->
			<div class="form-footer">
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-true-value="'I have checked the all my entered info.'" ng-required="true">
					<p>I have checked all the entered information before submitting this form.</p>
				</div>
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-true-value="'I have red the terms.'" ng-required="true">
					<p>Please check to agree to <a href="#">terms &amp; conditions</a>.</p>
				</div>
				<button type="submit" ng-disabled="buyTicketForm.$invalid">Pay {{buyTicket.ticketPrice + (buyTicket.ticketPrice * buyTicket.companions.length)}} &euro;</button>

			</div>
		</form>
	</div>

<!-- TAB 2 -->
	<input id="tab-two" type="radio" name="grp" />
	<label class="tab-header" for="tab-two">{{formHeaders[1]}}</label>
	<div class="tab-panel">
		<p class="warning">{{introWarning}}</p>

	<!-- BOOK US FORM -->
		<form name="bookUsForm" novalidate ng-submit="submitRequest(bookUs)">
			<div class="input-wrapper-inline form-layout" my-directive template-path="templates/directives/gigs-directives/book-us-form.html"></div>
			<br>

	<!-- BOOK US FORM SUBMIT AREA -->
			<div class="form-footer">
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-model="book_us.confirmInfo" ng-true-value="'I have checked the all my entered info.'" ng-required="true">
					<p>I have checked all the entered information before submitting this form.</p>
				</div>
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-model="book_us.confirmTerms" ng-true-value="'I have red the terms.'" ng-required="true">
					<p>Please check to agree to <a href="#">terms &amp; conditions</a>.</p>
				</div>
				<button type="submit" ng-disabled="book_us.$invalid">Send request</button>
			</div>
		</form>
	</div>
</section>