<h1 class="h2 c-text content-heading">{{title}}</h1>
<section class="tabs">
	<input id="tab-one" type="radio" name="grp" checked="checked" />
	<label class="tab-header" for="tab-one">{{actions[0]}}</label>
	<div class="tab-panel">
		<p class="warning">{{warning}}</p>
		<form action="">
			<div class="input-wrapper-inline form-layout">
				<fieldset class="form-column" my-directive template-path="templates/directives/gigs-directives/guests-form.html"></fieldset>
				<!-- <div class="space-between"></div> -->
				<fieldset class="form-column" my-directive template-path="templates/directives/gigs-directives/payment-form.html"></fieldset>
			</div>
			<br>
			<div class="form-footer">
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" required>
					<p>I have checked all the entered information before submitting this form.</p>
				</div>
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" required>
					<p>Please check to agree to <a href="#">terms &amp; conditions</a>.</p>
				</div>
				<button type="submit">Pay {{ticketPrice + (ticketPrice * guests.length)}} &euro;</button>
			</div>
		</form>
	</div>
	<input id="tab-two" type="radio" name="grp" />
	<label class="tab-header" for="tab-two">{{actions[1]}}</label>
	<div class="tab-panel">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim deserunt perferendis magni. Molestias nostrum aspernatur voluptatum nisi, facere sint aliquid, debitis temporibus porro modi fugiat dignissimos labore qui, voluptatem deleniti.</p>
	</div>
</section>