<h1 class="h2 c-text content-heading">{{title}}</h1>
<section class="tabs">
	<input id="tab-one" type="radio" name="grp" checked="checked" />
	<label class="tab-header" for="tab-one">Buy a ticket</label>
	<div class="tab-panel">
		<p>Please fill all the required information.</p>
		<form action="">
			<div class="input-wrapper-inline form-layout">
				<fieldset>
					<div class="input-wrap input-location">
						<label for="where-and-when">{{subtitles[0]}} and {{subtitles[1]}}?</label>
						<select ng-model="map" ng-options="mapview.clubName + ' - ' + mapview.date for mapview in maps" name="where-and-when" id="where-and-when"></select>
						<h5>Address</h5>
						<div class="input-wrapper-inline map-and-address">
							<address>
								{{map.address[0].street}} <br>
								{{map.address[0].city}} <br>
								{{map.address[0].country}}
							</address>
							<make-map map="map"></make-map>
						</div>
					</div>
					
					<label for="email">Your email?</label>
					<input type="email" id="email" name="email" placeholder="example@example.com" autocomplete="on" required>
					
					<label for="addGuest">Add another guest</label>
					<ul class="added-guests">
						<li ng-repeat="guest in guests"><strong>{{guest.name}}</strong></li>
					</ul>
					<div class="input-wrap-inline input-add-guest">
						<input type="text" id="addGuest" name="addGuest" placeholder="John Doe" ng-model="name">
						<button ng-click="addGuest()" id="addGuestButton" class="plus-button"><i class="fa fa-plus-circle fa-2x"></i></button>
					</div>
				
				</fieldset>
				<div class="space-between"></div>
				<fieldset>
				
					<label for="credit-card">Credit Card Number:</label>
					<input type="text" id="credit-card" name="cardnumber" autocomplete="cc-number" placeholder="XXXX-XXXX-XXXX-XXXX" pattern="[0-9]{4}( )?(\-)?[0-9]{4}( )?(\-)?[0-9]{4}( )?(\-)?[0-9]{4}" required>
					<label for="address">Billing Address</label>
					<input type="text" id="name" name="name" autocomplete="name" placeholder="credit card holder name" required>
					<input type="text" id="street" name="address" autocomplete="street-address" placeholder="street &amp; house number" required>
					<input type="text" id="city" name="city" autocomplete="address-level2" placeholder="city" required>
					<input type="text" id="post-code" name="post-code" autocomplete="postal-code" placeholder="post code" required>
					<select name="country" id="country" autocomplete="country" ng-include="'templates/directives/countries.html'" required></select>
				
					<input type="checkbox" id="terms" />
					<p>Please check to agree to <a href="#">terms &amp; conditions</a>.</p>
				
				</fieldset>
			</div>
			<br>
			<button type="submit">Pay {{ticketPrice}} &euro;</button>
		</form>
	</div>
	<input id="tab-two" type="radio" name="grp" />
	<label class="tab-header" for="tab-two">Book us now</label>
	<div class="tab-panel">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim deserunt perferendis magni. Molestias nostrum aspernatur voluptatum nisi, facere sint aliquid, debitis temporibus porro modi fugiat dignissimos labore qui, voluptatem deleniti.</p>
	</div>
</section>