<h1>Store</h1>
<section class="column center-inline store-content base-transparent-medium">
	<header class="row store-inputs">
		<div class="column">
			<label for="search">Search</label>
			<input id="search" ng-model="searchQuery">
		</div>
		
		<div class="column">
			<label for="sortBy">Sort By</label>
			<select name="sortBy" ng-model="sortByCategory" id="sortBy">
				<option value="price">price</option>
				<option value="name">name</option>
			</select>
		</div>
	</header>
	<article class="row center-both store-items-list">
		<a ng-repeat="item in storeItems | filter:searchQuery | orderBy:sortByCategory" ng-href="#/store/{{item.id}}">
			<figure class="item-box">
				<img class="filter-image" ng-src="{{item.image}}.jpg" alt="{{item.name}}">
				<figcaption class="item-box-overlay dark-transparent-medium column center-both">
					<p>{{item.price | currency}}</p>
					<h5>{{item.name}}</h5>
				</figcaption>
			</figure>
		</a>
	</article>
</section>

<!-- <div class="projects-wrapper">
            <div class="projects-container">
                {% for project in site.data.portfolio.projects %}
                    <a class="project-unit" data-folder="{{ project.folder }}" style="background-image: url(/assets/img/{{ project.folder }}/thumb.jpg)">
                        <div class="project-overlay">
                            <strong>{{ project.name }}</strong>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div> -->