<h1 class="h2 c-text">{{item.name}}</h1>
<article class="column center-blocks store-item-detail base-transparent-medium">
	<div class="row item-main">
		<div class="image-wrapper item-image">
			<img class="image-main filter-image" ng-repeat="image in item.images" ng-src="{{image}}.jpg" alt="{{item.name}}" ng-class="{active:mainImageUrl==image}">
		</div>
		<div class="item-description">
			<p>{{item.description}}</p>
			<div class="row center-inline stock">
				<strong>Item in stock?: {{item.stock | StockFilter}}</strong>
				<button title="add to cart"><span>{{item.price | currency}} </span> <i class="fa fa-cart-plus fa-lg"></i></button>
			</div>
		</div>
	</div>
	<!-- <ul class="thumbnails">
		<li class="thumbnail" ng-repeat="image in item.images">
			<div class="img-wrapper">
				<img class="filter-image" ng-src="{{image}}.jpg" ng-click="setMainImage(image)" alt="{{item.name}}">
			</div>
		</li>
	</ul> -->
</article>
