.choice-wrapper
	+display(flex)
	+flex-direction(column)
	+justify-content(space-around)
	margin-bottom: $small-spacing
	.inline-check
		+display(flex)
		+align-items(center)
		span
			font-family: $font-content


	// white-space: nowrap
input[type="checkbox"]
	+flex-shrink(0)
	+position(relative, -6px null null null)
	
.form-small
	max-width: 320px

.form-medium
	max-width: 640px

.plus-minus-button
	padding: 2px 4px

select
	@extend input
	option
		width: 100%

// .ng-invalid::before
// 	content: "REQUIRED"

input.ng-required// when input box is edited
	background-color: $error-color

input.ng-valid // when input box is edited
	background-color: $success-color

.error-message
	text-align: right
	margin-bottom: $base-padding / 2
	color: red

.field-small
	max-width: 70px

.field-medium
	max-width: 100px

.field-large
	max-width: 140px

.field-big
	max-width: 200px

.circle-button
	+display(flex)
	+size(40px)
	border-radius: 50%
	+justify-content(center)
	padding: $base-padding / 3