.choice-wrapper
	+display(flex)
	+flex-direction(column)
	+justify-content(space-around)
	margin-bottom: $small-spacing
	.inline-check
		+display(flex)
		+align-items(center)
		span
			font-family: $font-content

.input-wrap-inline
	+display(flex)
	+align-items(center)
	// white-space: nowrap
	input[type="checkbox"]
		+flex-shrink(0)
		+position(relative, -6px null null null)

//	+align-items(center)
	
//	+flex-wrap(wrap)
//	input
//		+flex(7)
//		+flex-shrink(1)
//		+flex-basis(220px)
//		+align-self(center)
//		white-space: nowrap
//		+align-self(center)
//		+flex(1)
//		+flex-shrink(2)
//		+flex-basis(140px)

.input-wrap
	+display(flex)
	+flex-direction(column)
	margin-bottom: $small-spacing
	
	
.form-small
	max-width: 320px

.form-medium
	max-width: 640px

.plus-minus-button
	padding: 2px 4px

select
	@extend input
	option
		width: 100%

// .ng-invalid::before
// 	content: "REQUIRED"

input.ng-dirty.ng-invalid // when input box is edited
	border-color: red
