<a href="#" class="menu-item">
	<span>Menu </span>
	<i id="nav-down" class="fa fa-angle-double-down fa-lg"></i>
	<i id="nav-up" class="fa fa-angle-double-up fa-lg"></i>
</a>
<a class="menu-item" href="#/home">Home</a>
<a class="menu-item" href="#/gigs">Gigs</a>
<a class="menu-item" href="#/biography">Biography</a>
<a class="menu-item" href="#/lyrics">Lyrics</a>
<a class="menu-item" href="#/store">Store</a>
<a class="menu-item" href="#/cart" id="nav-shopping-cart">
	<span>Cart <i class="fa fa-shopping-cart"></i></span>
</a>
<a class="menu-item" href="#" id="nav-sign-in">
	<span> Sign In <i class="fa fa-sign-in"></i></span>
</a>
<a class="menu-item" href="#" id="nav-sign-out">
	<span> Sign Out <i class="fa fa-sign-out"></i></span>
</a>