<h3 class="h4"><i class="fa fa-calendar"></i> Upcoming Gigs</h3>
<table ng-controller="GigsController">
	<thead>
		<tr>
			<th>{{subtitles[0]}}</th>
			<th>{{subtitles[1]}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="concert in maps">
			<td>{{concert.address[0].city}}</td>
			<td>{{concert.date}}</td>
		</tr>
		<tr>
			<td><i class="fa fa-chevron-down"></i></td>
		</tr>
	</tbody>
</table>
<div class="text-button-wrapper divided" ng-controller="ButtonBoxController">
	<h3 class="h5">{{buttonBox[0].bookTicket[0].heading}}</h3>
	<button ng-click="go('/gigs')">{{buttonBox[0].bookTicket[0].button}}</button>
</div>
<div class="text-button-wrapper divided" ng-controller="ButtonBoxController">
	<h3 class="h5">{{buttonBox[0].bookBand[0].heading}}</h3>
	<button ng-click="go('/gigs')">{{buttonBox[0].bookBand[0].button}}</button>
</div>
<a href="#/gigs"><h5>Go to gigs <i class="fa fa-chevron-right"></i></h5></a>