<figure class="aside-logo">
	<div class="img-wrapper">
		<img class="img-logo" src="data/images/logo.png" alt="band logo">
	</div>
</figure>
<strong id="greeting"></strong>
<div class="quote-wrapper">
	<q class="bq-left-sidebar">
		<i class="fa fa-quote-left fa-pull-left fa-lg"></i>
		<br>I will honor your spine with a walk across it. Down peasant!<br>
		<i class="fa fa-quote-right fa-pull-right fa-lg"></i>
	</q>
	<cite>--Mike as princess</cite>
</div>
<section class="soundcloud-player">
	<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/49994491&amp;color=32292f&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</section>

<div class="text-button-wrapper divided-no-border" ng-include="'templates/directives/sign-up.html'"></div>

<section class="social-links" ng-include="'templates/directives/social-icons.html'"></section>