<a ng-href="#" class="center-both" id="menu-toggle">
	<span>Menu </span>
	<i id="nav-down" class="fa fa-angle-double-down fa-lg"></i>
	<i id="nav-up" class="fa fa-angle-double-up fa-lg"></i>
</a>
<a class="row center-both menu-item dont-wrap" ng-href="#/home">Home</a>
<a class="row center-both menu-item dont-wrap" ng-href="#/gigs">Gigs</a>
<a class="row center-both menu-item dont-wrap" ng-href="#/biography">Biography</a>
<a class="row center-both menu-item dont-wrap" ng-href="#/lyrics">Lyrics</a>
<a class="row center-both menu-item dont-wrap" ng-href="#/store">Store</a>
<a class="row center-both menu-item dont-wrap" ng-href="#/cart" id="nav-shopping-cart">
	<span>Cart <i class="fa fa-shopping-cart"></i></span>
</a>
<a class="row center-both menu-item dont-wrap" ng-href="#" id="nav-sign-in">
	<span> Sign In <i class="fa fa-sign-in"></i></span>
</a>
<a class="row center-both menu-item dont-wrap" ng-href="#" id="nav-sign-out">
	<span> Sign Out <i class="fa fa-sign-out"></i></span>
</a>