.blog-post
	margin: 0 $base-padding
	max-width: 650px

	.post-header
		+justify-content(space-between)
		+flex-wrap(wrap)
		h2
			padding-right: $base-padding

		.post-date
			padding-bottom: $base-padding

	.post-content
		img
			float: left
			margin: 0 $base-padding $base-padding 0

	.comments-wrapper
		.add-comment
			.post-comment
				+justify-content(space-between)

		.comments:not(:last-child)
			margin-bottom: $base-padding

		.comments
			.comment-header
				+justify-content(space-between)
			.comment-footer
				+justify-content(flex-end)
					