.tabs
	+flex-wrap(wrap)
	padding: 0 $base-padding

	.tab-header
		background-color: $dark-transparent-light
		color: $base-transparent-medium
		padding: $base-padding
		margin-bottom: 0
		cursor: pointer
		z-index: 1
		+flex(1)
		max-width: 165px

	.tab-panel
		width: 100%
		padding-top: $base-padding
		+order(1)
		background-color: $base-transparent-medium
		border-radius: 0 $base-border-radius $base-border-radius

		.warning
			margin-left: $base-padding

		form
			padding: $base-padding / 2
			.form-footer
				button
					width: 100%
			.form-layout
				+justify-content(space-between)
				+flex-wrap(wrap)
				
				.form-column
					+flex(1)
					min-width: 250px

					.map-and-address
						+justify-content(space-between)
						+align-items(flex-start)

					.map-and-address > *
						+flex(1)

					.input-add-guest
						#addCompanionButton
							+position(relative, -6px null null null)
							margin-left: 5px

					.guests-list
						list-style-type: none
						font-weight: 700
						.price-label
						li
							width: 100%
							+flex-wrap(wrap)
							+flex(1)
							.added-guests
								+flex(1)

							#removeCompanionButton
								+position(relative, -6px null null null)
								margin-left: 5px

					.card-expiry-date
						label
							+flex(1)
						.select-year
							+flex(2)
							+justify-content(flex-end)
							#month
								margin-right: 5px
								direction: rtl

	label.tab-header:first-of-type
		border-top-left-radius: $base-border-radius

	label.tab-header:last-of-type
		border-top-right-radius: $base-border-radius

	input[type=radio], .tab-panel 
		display: none

	input[type=radio]:checked + .tab-header 
		background-color: $base-transparent-medium
		color: $dark-transparent-light

	input[type=radio]:checked + .tab-header + .tab-panel 
		+display(flex)
		+flex-direction(column)
