.tabs
	width: 100%
	border-radius: 0 $base-border-radius $base-border-radius $base-border-radius
	.tab-list
		+display(flex)
		.tab-header
			padding: $base-padding
			background-color: $dark-transparent-light
			color: $base-background-color
			margin-bottom: 0
			
			.tab-control
				color: $base-transparent-light

			&.tab-active
				background-color: $base-transparent-medium

				.tab-control
					color: $dark-transparent-light
	
			&#tab-header-1
				border-top-left-radius: $base-border-radius
	
			&#tab-header-2
				border-top-right-radius: $base-border-radius
				

	.tab-panel
		background-color: $base-transparent-medium
		+display(none)
		padding: $base-padding
		+flex-direction(column)
	
		form
			+display(flex)
			+justify-content(space-around)

			fieldset
				+flex(1)
				padding-right: $base-padding

				.input-wrap
					.plus-button
						+position(relative, -6px null null null)
						margin-left: 5px
	
					.location-wrapper
						+align-items(flex-start)
						+justify-content(space-between)
						+flex-wrap(wrap)

						.input-wrap
							+flex(1 1 150px)
							max-width: 150px
	
						.img-wrapper
							+flex-shrink(4 4 150px)
							margin-bottom: $base-padding
							+position(relative)
							border-right: 5px solid transparent

							.map-controls
								+position(absolute, null -6px 3px null)
								+transform(scale(0.7))
	


		&.tab-active
			+display(flex)
			