.store-items
	padding: $base-padding
	border-radius: $base-border-radius

	header
		+justify-content(space-between)
	
	.store-items-list
		+justify-content(space-between)
		.item-box-link
			+display(block)
			+flex(1)
			max-height: 100px
			max-width: 100px
			margin: $base-padding / 4
			+transition($base-transition-duration)
			.item-box
				+position(relative)
				overflow: hidden
				border-radius: $base-border-radius
				.item-box-overlay
					+transition($base-transition-duration)
					+position(absolute, null 0px -50% 0px)
					+size(100%)
					color: $base-background-color
					+flex-wrap(wrap)

				.item-box-overlay > *
					+position(relative, 0px null null null)
					+transition($base-transition-duration)

				&:hover
					.item-box-overlay
						bottom: 0px
					.item-box-overlay > *
						+position(relative, 10px null null null)

	.store-items-footer
		margin-top: $base-padding / 2
		+justify-content(flex-end)
		text-transform: uppercase
		font-size: 0.9rem

@media (max-width: $query-large)
	.store-items
		.store-items-list
			.item-box-link:nth-child(2), .item-box-link:nth-child(3)
				+display(none)


// @media (max-width: $query-medium-large)

