.store-items
	padding: $base-padding
	border-radius: $base-border-radius

	header
		+justify-content(space-between)
		.sort-by
			+position(relative, -3px null null null)
	
	.slider
		+position(relative)
		height: 120px
		.icon-circle-left
			+position(absolute, 38% null null 0px)

		.icon-circle-right
			+position(absolute, 38% 0px null null)

		.slide-viewer
			+position(relative)
			overflow-x: auto
			overflow-y: hidden
			height: 100%
			width: 80%
			margin: 0 auto

			.slide
				+position(absolute)
				width: 100%
				.item-box-link
					// +display(flex)
					// +flex(1)
					+size(100px)
					+flex-shrink(0)
					margin: $base-padding / 4
					+transition($base-transition-duration)
					.item-box
						+position(relative)
						overflow: hidden
						border-radius: $base-border-radius
						.item-box-overlay
							+transition($base-transition-duration)
							+position(absolute, null 0px -50% 0px)
							+size(100%)
							color: $base-background-color
							+flex-wrap(wrap)

						.item-box-overlay > *
							+position(relative, 0px null null null)
							+transition($base-transition-duration)

						&:hover
							.item-box-overlay
								bottom: 0px
							.item-box-overlay > *
								+position(relative, 10px null null null)

    			// &.slided
    			// 	+transform(translate3d(-50%, 0, 0))

	.store-items-footer
		margin-top: $base-padding / 2
		+justify-content(flex-end)
		text-transform: uppercase
		font-size: 0.9rem

.css-class-add, .css-class-remove
	+transition($base-transition-duration)


.slided-css-class, .css-class-add.css-class-add-active
	+transform(translate3d(-25%, 0, 0))
	+transition($base-transition-duration)

.css-class-remove.css-class-remove-active
	// +transform(translate3d(25%, 0, 0))
	+transition($base-transition-duration)	

@media (max-width: $query-large)
	.store-items
		.store-items-list
			.item-box-link:nth-child(2), .item-box-link:nth-child(3)
				+display(none)


// @media (max-width: $query-medium-large)

