<div class="input-wrap input-location">
	<label for="where-and-when">{{subtitles[0]}} and {{subtitles[1]}}?</label>
<select ng-model="map" ng-options="mapview.clubName + ' - ' + mapview.date for mapview in maps" name="where-and-when" id="where-and-when" required></select>
<label class="small-label">Address</label>
<div class="input-wrapper-inline map-and-address">
	<address>
		{{map.address[0].street}} <br>
		{{map.address[0].city}} <br>
		{{map.address[0].country}}
	</address>
	<make-map map="map"></make-map>
</div>
</div>
<label for="name">Your name?</label>
<input type="text" id="name" name="name" ng-init="payersName=initName" ng-model="payersName" placeholder="{{initName}}" autocomplete="name" autofocus required ng-pattern="[A-Za-z]{1,30}( ){1,3}[A-Za-z]{1,30}( )?" ng-maxlenght="80" title="name and surname separated by space">
<p ng-show="buy_ticket.$submitted || buy_ticket.name.$touched">Please tell us your name.</p>
<ul class="guests-list">
	<li class="small-label divided-label base-transparent-medium">
		<span>{{payersName}}</span>
		<span class="price-label">{{ticketPrice}}&euro;</span>
	</li>
</ul>
<label for="email">Your email?</label>
<input type="email" id="email" name="email" placeholder="example@example.com" autocomplete="email" required ng-pattern="[A-Za-z0-9_-]{1,40}(\.)?([A-Za-z0-9_-]{1,40})?\@[A-Za-z0-9_-]{1,40}\.[A-Za-z]{2,10}( )?" ng-maxlenght="120" title="avoid entering spaces">
<p ng-show="buy_ticket.$submitted || buy_ticket.email.$touched">Please tell us your email.</p>


<label for="addGuest">Add companions</label>
<ul class="guests-list">
	<li class="small-label input-wrap-inline" ng-repeat="guest in guests">
		<div class="divided-label input-wrap-inline base-transparent-medium added-guests">
			<span>{{guest.name}}</span>
			<span class="price-label">{{ticketPrice}}&euro;</span>
		</div>
		<button title="remove guest" ng-click="removeGuest()" id="removeGuestButton" class="plus-button"><i class="fa fa-minus-circle fa-2x"></i></button>
	</li>
</ul>
<div class="input-wrap-inline input-add-guest">
	<input type="text" id="addGuest" name="name" placeholder="{{initName}}" ng-model="name" ng-pattern="[A-Za-z]{1,40}( ){1,3}[A-Za-z]{1,40}( )?" ng-maxlenght="80" title="name and surname separated by space">
	<button ng-click="addGuest()" id="addGuestButton" class="plus-button"><i class="fa fa-plus-circle fa-2x"></i></button>
</div>