body
	font-family: $font-content

h1, h2, h3, h4, h5, label, legend, input[type="submit"]
	font-family: $font-heading
	text-transform: uppercase
	font-weight: 700

p, small, span, b, em, blockquote, q, input, select, li, button
	font-family: $font-content

button
	text-transform: uppercase

h1, .h1
	font-size: 4rem

h2, .h2
	font-size: 3rem

h3, .h3
	font-size: 1.7rem

h4, .h4, legend, blockquote, q
	font-size: 1.2rem

h5, .h5, label
	font-size: 1.1rem

b, blockquote, label, strong
	font-weight: 600

p, input, select
	font-size: 1rem

blockquote, q
	font-style: italic

ol
	list-style: decimal

ul
	list-style: disc

.c-text
	text-align: center

.r-text
	text-align: right

.l-text
	text-align: left
