<h1 class="h2 c-text content-heading">GIGS</h1>
<div class="tabs">
	<div class="tab-list">
		<h3 class="h5 tab-header">
			<a class="tab-control" href="#/tab-1">BUY A TICKET</a>
		</h3>
		<h3 class="h5 tab-header tab-active">
			<a class="tab-control" href="#/tab-2">{{title}}</a>
		</h3>
	</div>
	<div class="tab-panel" id="tab-1">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod magni accusamus ullam perferendis, vero possimus optio itaque natus enim delectus quos omnis explicabo amet, hic dolorum. Alias nesciunt veniam nisi?</p>
	</div>
	<div class="tab-panel tab-active" id="tab-2">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis at doloribus, incidunt impedit iste obcaecati veniam aut dolor beatae quas sint officia ab quibusdam, voluptate facilis, quam ratione sapiente cupiditate?</p>
	</div>
</div>