<h1>Store</h1>
<label for="search">Search</label>
<input id="search" ng-model="searchQuery">

<label for="sortBy"></label>
<select name="sortBy" ng-model="sortByCategory" id="sortBy">
	<option value="price">price</option>
	<option value="name">name</option>
</select>
<ul class="store-items-list">
	<li class="item-box" ng-repeat="item in storeItems | filter:searchQuery | orderBy:sortByCategory">
		<h5>{{item.name}}</h5>
		<img ng-src="{{item.image}}.jpg" alt="{{item.name}}">
		<p>{{item.price | currency}}</p>
	</li>
</ul>