.content
	padding: $base-padding
	+display(flex)
	+justify-content(center)
	+flex-direction(column)
	+align-items(center)
	+flex(10 10 400px)
	+calc(padding-right, "15% - 100px")
	+calc(padding-left, "15% - 100px")

	.blog-intro-post
		margin: $base-padding
		+display(flex)
		+flex-direction(column)
		max-width: 650px

		.blog-intro-header
			+display(flex)
			+justify-content(space-between)
			+flex-wrap(wrap)
			h2
				padding-right: $base-padding

			.blog-intro-date
				padding-bottom: $base-padding
	
		.blog-intro-content
			img
				float: left
				margin: 0 $base-padding $base-padding 0
	
		footer
			+display(flex)
			+justify-content(flex-end)
		
