.band-cover
	+position(relative)
	//+calc(height, "50vh - 100px")
	background-image: url("/images/monkees.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: contain
	height: 25vw

	span[class^="icon-circle"]
		+size(38px)
		border-radius: 50%
		+display(flex)
		+justify-content(center)
		+align-items(center)
		cursor: pointer
	
	.icon-circle-left
		+position(absolute, 48% null null 3%)

	.icon-circle-right
		+position(absolute, 48% 3% null null)

	.quote-wrapper
		+position(absolute, null 40px 40px null)
		max-width: 300px
	
.main-navigation
	//+flex(1)
	white-space: nowrap
	+display(flex)
	+justify-content(space-around)
	+align-items(center)

	a
		height: 40px
		+flex(1)
		width: 100%
		+display(flex)
		+justify-content(center)
		+align-items(center)

	#nav-sign-out
		+display(none)
	
@media (max-width: 1116px)
	.main-navigation
		+flex-direction(column)