.band-cover
	+position(relative)
	height: 50vh
	//+calc(height, 50vh - 7%)
	background-image: url("/images/monkees.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover

	i[class*="fa-chevron"]
		color: $accent2

	.fa-chevron-left
		+position(absolute, 50% null null 3%)


	.fa-chevron-right
		+position(absolute, 50% 3% null null)

	.quote-wrapper
		+position(absolute)