.quote-wrapper
	.bq-left-sidebar
		text-indent: $base-padding
		
	cite
		+align-self(flex-end)

.song-list
	font-size: 0.8rem
	tbody
		tr
			td
				width: auto

.text-button-wrapper
	p
		font-size: 0.7rem

.social-links
	width: 100%

	.social-icons
		+justify-content(space-around)
		width: 80%
	
@media screen and (max-width: $query-large)
	.text-button-wrapper
		button
			width: 100%

@media screen and (max-height: 900px)
	#greeting
		+display(none)

@media screen and (max-height: $query-medium)
	.aside-logo
		+display(none)
	
@media screen and (max-height: $query-small)
	.quote-wrapper
		+display(none)