.main-navigation
	//+flex(1)
	white-space: nowrap
	+display(flex)
	+justify-content(space-around)
	+align-items(center)
	z-index: 99

	&.main-navigation-fixed
		+position(fixed, 0px null null null)
		+calc(width, "60% - 30px")
	
	.menu-item:not(:first-child)
		height: 40px
		+flex(1)
		width: 100%
		+display(flex)
		+justify-content(center)
		+align-items(center)
	
	.menu-item:last-child
		+display(none)

	.menu-item:first-child
		+display(none)
		+position(relative)
		height: 40px
		width: 100%
		+justify-content(center)
		+align-items(center)
		i#nav-down
			+position(absolute, 30% 3% null null)

		i#nav-up
			+position(absolute, 30% 3% null null)
			+display(none)
	
	.sticky-alias
		+display(none)
		height: 10px

	.menu-item-mobile
		height: 40px
		+flex(1)
		width: 100%
		+display(flex)
		+justify-content(center)
		+align-items(center)


// IN JQUERY CLASSES (_jquery-classes.sass)
//.main-navigation-fixed
//	+position(fixed, 0px null null null)
//	+calc(width, "60% - 30px")

@media (max-width: $query-large)
	.main-navigation
		+flex-direction(column)
	
		.menu-item:first-child
			+display(flex)
	
		.menu-item:not(:first-child)
			+display(none)
			max-height: 0px
	
		.menu-item:last-child
			+display(none)

@media screen and (max-width: $query-small)
	.main-navigation-fixed
		width: 100% !important
	
@media (min-width: $query-large)
	.main-navigation
		+flex-direction(row)
	
		.menu-item:first-child
			+display(none)
	
		.menu-item:not(:first-child)
			+display(flex)

		.menu-item:last-child
			+display(none)

