// regular navigation
.main-navigation
	z-index: 10
	+justify-content(space-around)
	+position(relative)

	#menu-toggle
		height: 40px
		width: 100%
		+position(relative)
		+display(none)
		i#nav-down
			+position(absolute, 30% 3% null null)
			+transition($base-transition-duration)

		i#nav-up
			+position(absolute, 30% 3% null null)
			+display(none)
			+transition($base-transition-duration)
			opacity: 1
			visibility: none

	.menu-items-wrapper
		+display(flex)
		+justify-content(space-around)
		+align-items(center)
		+flex(1)
		width: 100%
		z-index: 20
		+transition($base-transition-duration)
		.menu-item
			+display(flex)
			+align-items(center)
			+justify-content(center)
			white-space: nowrap
			height: 40px
			width: 100%

		// .menu-item:last-child
		// 	+display(none)

@media (max-width: $query-large)
	.main-navigation
		+flex-direction(column)
		.menu-items-wrapper
			+position(absolute, 40px null null 0px)
			background-color: $base-transparent-medium
			+flex-direction(column)
			opacity: 0
			visibility: hidden
			+transition($base-transition-duration)
		#menu-toggle
			+display(flex)

		&:hover
			i#nav-down
				+transition($base-transition-duration)
				+display(none)
				opacity: 0
				visibility: none

			i#nav-up
				+transition($base-transition-duration)
				display: -webkit-flex !important
				display: -ms-flexbox !important
				display: flex !important
				opacity: 1
				visibility: visible
				
			.menu-items-wrapper
				opacity: 1
				visibility: visible
				+transition($base-transition-duration)

			.columns-wrapper
				+transition($base-transition-duration)
				+position(relative, 280px null null null)

//mobile navigation

// 	&.main-navigation-fixed
// 		+position(fixed, 0px null null null)
// 		+calc(width, "60% - 30px")
	

	


// 	.menu-item:first-child
// 		+display(none)
// 		+position(relative)
// 		height: 40px
// 		width: 100%
// 		+justify-content(center)
// 		+align-items(center)
// 		
	
// 	.sticky-alias
// 		+display(none)
// 		height: 10px

// 	.menu-item-mobile
// 		height: 40px
// 		+flex(1)
// 		width: 100%
// 		+display(flex)
// 		+justify-content(center)
// 		+align-items(center)


// // IN JQUERY CLASSES (_jquery-classes.sass)
// //.main-navigation-fixed
// //	+position(fixed, 0px null null null)
// //	+calc(width, "60% - 30px")

// @media (max-width: $query-large)
// 	.main-navigation
// 		+flex-direction(column)
	
// 		.menu-item:first-child
// 			+display(flex)
	
// 		.menu-item:not(:first-child)
// 			+display(none)
// 			max-height: 0px
	
// 		.menu-item:last-child
// 			+display(none)

// @media screen and (max-width: $query-small)
// 	.main-navigation-fixed
// 		width: 100% !important
	
// @media (min-width: $query-large)
// 	.main-navigation
// 		+flex-direction(row)
	
// 		.menu-item:first-child
// 			+display(none)
	
// 		.menu-item:not(:first-child)
// 			+display(flex)

// 		.menu-item:last-child
// 			+display(none)

