body
	+justify-content(space-between)
	background-image: url("../data/images/monkees-fans.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	background-attachment: fixed

	.empty-column
		min-width: 230px

	.left-sidebar
		position: fixed
		+justify-content(space-between)
		max-width: 230px
		height: 100vh

	.container
		+calc(padding-right, "20% - 100px")
		+calc(padding-left, "20% - 100px")
		+flex(1)

		.main-header
			width: 100%

		.columns-wrapper
			+justify-content(space-between)
			+flex-wrap(wrap)
	
			.page-content
				+flex-wrap(wrap)
				+flex(10 10 400px)
				padding-top: $base-padding
				padding-bottom: $base-padding
				+calc(padding-right, "15% - 100px")
				+calc(padding-left, "15% - 100px")
				max-height: 600px
				overflow-y: auto

			// .right-sidebar
			// 	+position(fixed)

			.right-sidebar-substitute
				// @extend .right-sidebar
				+display(none)
				// +position(absolute)
	
	
		.main-footer
			+justify-content(space-between)
			width: 100%
			padding: $base-padding
	
@media (max-width: $query-small)
	.left-sidebar, .empty-column
		display: none !important

	.page-content
		overflow-y: hidden !important
		max-height: 100% !important
