<!-- COLUMN 1 -->
<fieldset class="form-column">
	<!-- GIG LOCATION -->
	<div class="input-wrap input-location">
		<label for="where-and-when">{{formsData.location.label}}</label>

		<!-- SELECT LOCATION -->
		<select name="where-and-when" id="where-and-when" name="map" autofocus 
			ng-attr-title="{{formsData.location.title}}" 
			ng-model="map" 
			ng-options="mapview.clubName + ' - ' + mapview.date for mapview in maps" 
			ng-required="true"></select>
			
		<label class="small-label">Address</label>
		<small class="error-message" ng-show="buyTicketForm.map.$touched && buyTicketForm.map.$error.required">
			{{formsData.location.errorMessages.required}}
		</small>

		<!-- SHOW ADDRESS -->
		<div ng-if="map" class="input-wrap-inline map-and-address">
			<address>
				{{map.address[0].street}} <br>
				{{map.address[0].city}} <br>
				{{map.address[0].country}}
			</address>

		<!-- SHOW MAP -->
			<make-map map="map"></make-map>
		</div>
	</div>

	<!-- GUEST'S NAME -->
	<label for="name">{{formsData.guest.label}}</label>
	<input type="text" id="name" name="name" autocomplete="name" 
		ng-attr-title="{{formsData.guest.title}}" 
		placeholder="{{formsData.guest.placeholder}}" 
		ng-init="buyTicketForm.name=formsData.guest.placeholder"
		ng-model="buyTicket.name"
		ng-required="true">
	<small class="error-message" ng-show="buyTicketForm.name.$touched && buyTicketForm.name.$error.required ">
		{{formsData.guest.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.name.$touched && buyTicketForm.name.$invalid
		&& !buyTicketForm.name.$pristine">
		{{formsData.guest.errorMessages.invalid}}
	</small>

	<!-- SHOW GUEST NAME AND PRICE -->
	<ul class="guests-list">
		<li class="small-label divided-label base-transparent-medium">
			<span>{{buyTicket.name}}</span>
			<span class="price-label">{{formsData.ticketPrice | currency}}</span>
		</li>
	</ul>

	<!-- GUEST'S EMAIL -->
	<label for="email">{{formsData.email.label}}</label>
	<input type="email" id="email" name="email" autocomplete="email" 
		ng-attr-title="{{formsData.email.title}}" 
		placeholder="{{formsData.email.title}}"
		ng-model="buyTIcket.email"
		ng-required="true">
	<small class="error-message" ng-show="buyTicketForm.email.$touched && buyTicketForm.email.$error.required">
		{{formsData.email.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.email.$touched && buyTicketForm.email.$invalid">
		{{formsData.email.errorMessages.invalid}}	
	</small>

	<!-- GUEST'S COMPANIONS -->
	<label for="addGuest">{{formsData.companions.label}}</label>
	<ul class="guests-list">
		<li class="small-label input-wrap-inline" 
			ng-repeat="companion in companions" 
			ng-model="companion">

		<!-- DISPLAY COMPANIONS NAMES AND PRICE -->
			<div class="divided-label input-wrap-inline base-transparent-medium added-guests">
				<span>{{companion}}</span>
				<span class="price-label">{{formsData.ticketPrice | currency}}</span>
			</div>

		<!-- REMOVE COMPANIONS -->
			<button type="button" ng-attr-title="remove guest"  id="removeCompanionButton" class="plus-minus-button" 
				ng-click="removeCompanion()"><i class="fa fa-minus-circle fa-2x"></i>
			</button>
		</li>
	</ul>

		<!-- ADD COMPANIONS -->
	<div class="input-wrap-inline input-add-guest">
		<input type="text" id="addCompanion" name="companion" 
			ng-attr-title="{{formsData.companions.title}}" 
			placeholder="{{formsData.companions.placeholder}}" 
			ng-model="companion">
		<button type="button" id="addCompanionButton" class="plus-minus-button" 
			ng-click="addCompanion()"><i class="fa fa-plus-circle fa-2x"></i>
		</button>
	</div>
	<small class="error-message" ng-show="buyTicketForm.companion.$touched && buyTicketForm.companion.$invalid">
		{{formsData.companions.errorMessages.invalid}}
	</small>
</fieldset>

<!-- COLUMMN 2 -->
<fieldset class="form-column">
	<h5>Credit Card Details:</h5>

	<!-- CARD DESIGN -->
	<div class="img-wrapper">
		<div class="credit-card">
			<div class="card-logo" id="circle-1"></div>
			<div class="card-logo" id="circle-2"></div>
			<div id="chip"></div>
			<strong data-fittext data-fittext-min="20" id="card-number">{{card.number}}</strong>
			<p id="card-name">{{card.name}}</p>
			<p id="card-date">{{card.month}}/{{card.year}}</p>
		</div>
	</div>
	<br>

	<!-- CARD NAME -->
	<div class="input-wrap-inline card-name">
		<label class="small-label" for="credit-card-name">{{formsData.cardName.label}}</label>
		<input type="text" id="credit-card-name" name="cardName" autocomplete="name"
			ng-attr-title="{{formsData.cardName.title}}" 
			placeholder="{{formsData.cardName.placeholder}}"  
			ng-init="card.name=formsData.cardName.placeholder" 
			ng-model="card.name"
			ng-required="true">
	</div>
	<small class="error-message" ng-show="buyTicketForm.cardName.$touched && buyTicketForm.cardName.$error.required 
		&& buyTicketForm.cardName === initName">
		{{formsData.cardName.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.card.name.$invalid">
		{{formsData.cardName.errorMessages.invalid}}
	</small>

	<!-- CARD NUMBER -->
	<div class="input-wrap-inline card-number">
		<label for="credit-card-number" class="small-label">{{formsData.cardNumber.label}}</label>
		<input type="text" id="credit-card-number"  name="cardNumber" autocomplete="cc-number"
			ng-attr-title="{{formsData.cardNumber.title}}" 
			placeholder="{{formsData.cardNumber.placeholder}}" 
			ng-init="card.number=formsData.cardNumber.placeholder" 
			ng-model="card.number" 
			ng-required="true">
	</div>
	<small class="error-message" ng-show="buyTicketForm.cardNumber.$touched && buyTicketForm.cardNumber.$error.required 
		&& buyTicketForm.card.number === initCardNumber">
		{{formsData.cardNumber.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.cardNumber.$touched && buyTicketForm.cardNumber.$invalid">
		{{formsData.cardNumber.errorMessages.invalid}}
	</small>

	<!-- CARD CVV -->
	<div class="input-wrap-inline card-cvv">
		<label for="card-cvv" class="small-label">{{formsData.cardCvv.label}}</label>
		<input type="text" id="card-cvv" name="cvv" autocomplete="cvv-number"
			ng-attr-title="{{formsData.cardCvv.title}}" 
			placeholder="{{formsData.cardCvv.placeholder}}"
			ng-model="card.cvv"
			ng-required="true">
	</div>
	<small class="error-message" ng-show="buyTicketForm.cvv.$touched && buyTicketForm.cvv.$error.required">
		{{formsData.cardCvv.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.cvv.$touched && buyTicketForm.cvv.$invalid">
		{{formsData.cardCvv.errorMessages.invalid}}
	</small>

	<!-- CARD DATE -->
	<div class="input-wrap-inline card-expiry-date">
		<label for="month" class="small-label">{{formsData.cardExpiryDate.label}}</label>
		<div class="input-wrap-inline">
			<select name="cardMonth" id="month" placeholder="month"
				ng-attr-title="{{formsData.cardExpiryDate.title}}" 
				ng-model="card.month" 
				ng-options="month for month in getMonths">
				<option value='' disabled>mm</option>
			</select>
			<select name="cardYear" id="year" placeholder="year"
				ng-attr-title="{{formsData.cardExpiryDate.title}}" 
				ng-model="card.year" 
				ng-options="year for year in getYears">
				<option value='' disabled>yyyy</option>
				<!-- <option ng-repeat="year in getYears" value="{{year}}">{{year.toString().slice(2,4)}}</option> -->
			</select>
		</div>
	</div>
	<small class="error-message" ng-show="
		buyTicketForm.cardMonth.$touched && buyTicketForm.cardYear.$touched 
		&& buyTicketForm.cardMonth.$error.required && buyTicketForm.cardYear.$error.required">
		{{formsData.cardCvv.errorMessages.required}}
	</small>

	<!-- BILLING ADDRESS -->
	<h5>Billing Address</h5>

	<!-- BILLING ADDRESS - STREET -->
	<input type="text" id="street" name="address" autocomplete="street-address"
		ng-attr-title="{{formsData.street.title}}" 
		placeholder="{{formsData.street.placeholder}}"  
		ng-model="billingAddress.street"
		ng-required="true">
	<small class="error-message" ng-show="buyTicketForm.street.$touched && buyTicketForm.street.$error.required">
		{{formsData.street.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.street.$touched && buyTicketForm.street.$invalid">
		{{formsData.street.errorMessages.invalid}}
	</small>

	<!-- BILLING ADDRESS - CITY -->
	<input type="text" id="city" name="city" autocomplete="address-level2"
		ng-attr-title="{{formsData.city.title}}" 
		placeholder="{{formsData.city.placeholder}}"
		ng-model="billingAddress.city"
		ng-required="true">
	<small class="error-message" ng-show="buyTicketForm.city.$touched && buyTicketForm.city.$error.required">
		{{formsData.city.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.city.$touched && buyTicketForm.city.$invalid">
		{{formsData.city.errorMessages.invalid}}
	</small>

	<!-- BILLING ADDRESS - POSTCODE -->
	<input type="text" id="post-code" name="postCode" autocomplete="postal-code"
		ng-attr-title="{{formsData.postCode.title}}" 
		placeholder="{{formsData.postCode.placeholder}}"   
		ng-model="billingAddress.postCode"
		ng-required="true">
	<small class="error-message" ng-show="buyTicketForm.postCode.$touched && buyTicketForm.postCode.$error.required">
		{{formsData.postCode.errorMessages.required}}
	</small>
	<small class="error-message" ng-show="buyTicketForm.postCode.$touched && buyTicketForm.postCode.$invalid">
		{{formsData.postCode.errorMessages.invalid}}
	</small>

	<!-- BILLING ADDRESS - COUNTRY -->
	<select name="country" id="country" autocomplete="country"
		ng-attr-title="{{formsData.country.title}}" 
		ng-model="billingAddress.country" 
		ng-required="true" 
		ng-include="'templates/directives/gigs-directives/countries.html'">
	</select>
	<small class="error-message" ng-show="buyTicketForm.country.$touched && buyTicketForm.country.$error.required">
		{{formsData.country.errorMessages.required}}
	</small>

</fieldset>