<h1 class="h2 c-text content-heading">{{post.heading}}</h1>
<article class="blog-post base-transparent-medium divided">
	<header class="post-header">
		<small class="post-date"><i class="fa fa-calendar"></i> {{post.date}}</small>
	</header>
	<article class="post-content">
		<div class="img-wrapper">
			<img src="{{post.images[0]}}.jpg" alt="blog cover" class="blog-img filter-image">
		</div>
		<p>{{post.content}}</p>
	</article>
	<br>
	<h3 class="c-text">Post Comment</h3>
	<footer class="comments-wrapper">
		<form class="add-comment" ng-submit="addComment()" id="comment">
			<label for="username">your username</label>
			<input id="username" type="text" placeholder="enter your username" autocomplete="on" ng-model="userName" pattern="[A-Za-z0-9_-]{1,30}" required>
			<label for="content">your comment</label>
			<textarea form="comment" name="content" id="content" cols="30" rows="7" placeholder="add your comment" ng-model="content" required></textarea>
			<button type="submit">Comment</button>
		</form>
		<br>
		<br>
		<h3 class="c-text">Comments</h3>
		<section class="comments base-transparent-medium divided" ng-repeat="comment in comments | orderBy: '-upVotes'">
			<h5>{{comment.userName}}</h5>
			<p>{{comment.content}}</p>
			<button ng-click="upVote(comment)"><i class="fa fa-thumbs-o-up"></i> <span> {{ comment.upVotes }}</span></button>
		</section>

	</footer>
</article>