<h1 class="h2 c-text content-heading">{{title}}</h1>
<section class="tabs">
	<input id="tab-one" type="radio" name="grp" checked="checked">
	<label class="tab-header" for="tab-one">{{formsData.tabsLabels.buyTicket}}</label>
	<div class="tab-panel">
		<p class="warning">{{formsData.introGuide}}</p>

		<form name="buyTicketForm" ng-submit="submitGuests(buyTicket)">
			<div class="input-wrapper-inline form-layout" my-directive template-path="templates/directives/gigs-directives/buy-ticket-form.html"></div>
			<br>

			<div class="form-footer">
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-required="true">
					<p>{{formsData.checkbox.formChecked}}</p>
				</div>
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-required="true">
					<p>{{formsData.checkbox.termsConfirmed}}</p>
				</div>
				<button type="submit" ng-disabled="buyTicketForm.$invalid">Pay {{buyTicket.ticketPrice + (buyTicket.ticketPrice * buyTicket.companions.length)}} &euro;</button>

			</div>
		</form>
	</div>

	<input id="tab-two" type="radio" name="grp">
	<label class="tab-header" for="tab-two">{{formsData.tabsLabels.bookUs}}</label>
	<div class="tab-panel">
		<p class="warning">{{formsData.introGuide}}</p>

		<form name="bookUsForm" novalidate ng-submit="submitRequest(bookUs)">
			<div class="input-wrapper-inline form-layout" my-directive template-path="templates/directives/gigs-directives/book-us-form.html"></div>
			<br>

			<div class="form-footer">
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-model="bookUs.confirmInfo" ng-true-value="'I have checked the all my entered info.'" ng-required="true">
					<p>{{formsData.checkbox.formChecked}}</p>
				</div>
				<div class="input-wrap-inline">
					<input type="checkbox" id="terms" ng-model="bookUs.confirmTerms" ng-true-value="'I have red the terms.'" ng-required="true">
					<p>{{formsData.checkbox.termsConfirmed}}</p>
				</div>
				<button type="submit" ng-disabled="bookUs.$invalid">Send request</button>
			</div>
		</form>
	</div>
</section>