<h1 class="h2 c-text">{{title}}</h1>
<article class="column blog-intro-post base-transparent-medium divided" ng-repeat="post in blogPosts">
	<header class="row blog-intro-header">
		<h2 class="h3">{{post.heading}}</h2>
		<small class="blog-intro-date"><i class="fa fa-calendar"></i> {{post.date}}</small>
	</header>
	<article class="blog-intro-content">
		<div class="image-wrapper">
			<image ng-src="{{post.titleImage}}.jpg" alt="blog cover" class="blog-image filter-image">
		</image></div>
		<p>{{post.content | limitTo: 200}}...</p>
	</article>
	<footer class="row">
		<a class="read-more" ng-href="#/home/{{post.id}}">Read more <i class="fa fa-chevron-right"></i></a>
	</footer>
</article>